@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

.banner {
    background-color: red;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

body {
    background-color: #274156;
    /*#D0CCD0 #1C6E8C #FBFCFF #2B2827 #274156 */
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.about {
    background-color: #1C6E8C;
    color: white;
    text-align: left;
    font-size: 20px;
}

.about p {
    margin: 10px;
}

hr {
    width: 8%;
    margin-left: 5px;
}

.interests h3 {
    padding: 0px -10px 0px 10px;
    text-align: left;
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.language h3 {
    padding: 0px 0 0 10px;
    text-align: left;
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.language hr {
    width: 13.5%;
}

.about h2 {
    padding: 0px 0 0 10px;
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.about h3 {
    padding: 0px 0px 0px 10px;
}

button {
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 10px;
    background-color: #1C6E8C;
    cursor: pointer;
    border-radius: 30px;
    width: 80%;
    border: none;
}

nav {
    background-color: #2B2827;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: '';
    border-bottom: 3px solid #1C6E8C;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease;
    opacity: 0;
}

nav a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

header {
    background-image: url(https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

header::after {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}

header h1 {
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 0px;
}

header p {
    font-size: 30px;
    margin: 0;
}

header * {
    position: relative;
    z-index: 1;
}

section {
    text-align: center;
    padding: 40px;
}

section h2 {
    margin: 0;
}

section p {
    margin-top: 0;
}

.lang-logo {
    max-width: 200px;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.3s ease;
}

.backgroundimg {
    background-image: url(https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1247&q=80);
    background-size: cover;
    background-position: center center;
    position: relative;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.lang-photos {
    display: flex;
    flex-wrap: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
    height: 70vh;
}

.lang-logo:hover {
    transform: scale(1.25);
}

.lang-photos p {
    font-size: 20px;
    margin-top: 10px;
    color: #1C6E8C;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.project-tile {
    max-width: 280px;
    margin: 10px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.project-tile:hover {
    transform: scale(1.05);
}

.project-tile img {
    max-width: 100%;
}

.project-tile p {
    font-size: 20px;
    margin-top: 10px;
    color: black;
}

.projects-container {
    display: flex;
    flex-wrap: center;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 30px auto 0;
}

.projects h2 {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.projects hr {
    width: 15%;
    margin-left: 775px;
}

.projects-container p {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.background-section {
    background-color: #D0CCD0;
    color: #1C6E8C;
}

.background-section h2 {
    font-size: 32px;
}

.background-section i {
    color: #1C6E8C;
}

.links {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.links a {
    color: white;
    font-size: 30px;
    margin: 0 10px;
    border-radius: 50%;
    border: 3px solid;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.contact {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.contact-section {
    background: url(https://images.unsplash.com/photo-1534852654286-120d822937f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center;
    background-size: cover;
    padding: 40px 0;
}

.contact-section h2,
h3 {
    text-align: center;
    color: white;
}

.border {
    width: 100px;
    height: 10px;
    background: #1C6E8C;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    color: #fff;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #1C6E8C;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #1C6E8C;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #fff;
    color: #1C6E8C;
}

footer {
    background-color: #2B2827;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media(max-width: 440px) {
    section {
        padding: 20px;
    }
}